{#
/**
  * @file
  * Default theme implementation to to display a job on the block content.
  *
  * Default variables:
  * - job_title: Position title.
  * - job_url: URL to the originating job item.
  * - job_start_date: Start date for applying job.
  * - job_end_date: End date for applying job.
  * - job_location_display: Location of the job.
  * - job_salary_min: Minimum salary job offer.
  * - job_salary_max: Maximum salary job offer.
  *
  * Optional variables when selected on Administration > Configuration >
  * Web services > USAJobs Configuration > Field Data Source to display:
  *
  * - job_position_id: Position ID.
  * - job_organization_name: Government organization name.
  * - job_department_name: Department name.
  * - job_category_name: Job category name.
  * - job_category_code: Job category code.
  * - job_grade: Job grade.
  * - job_major_duties: Major duties of the job.
  * - job_summary: Summary of the job.
  * - job_low_grade: Lowest grade of the job.
  * - job_high_grade: Highest grade of the job.
  * - job_sub_agency: Sub-agency name.
  * - job_telework_eligible: Whether the job is telework eligible.
  * - job_remote_indicator: Whether the job is remote.
  *
  * To make your custom template with all available variables above, copy this
  * file and place in your theme folder and clear caches to see your changed.
  *
  * @see template_preprocess_usajobs_item()
  *
  * @ingroup themeable
 */
#}
<div class="usajobs-item">
  <div class="usajobs-item-title">
    <a href="{{ job_url }}" title="Open USAJOBs.gov for {{ job_title }}" target="_blank">{{ job_title }}</a>
  </div>
  <div class="usajobs-item-location-salary">
    <span class="usajobs-item-location-display">{{ job_location_display }}</span> |
    <span class="usajobs-item-salary-min">${{ job_salary_min }}+</span>
  </div>
  <div class="usajobs-item-end-date">Apply by {{ job_end_date }}</div>

  {# Optional fields to display #}

  {# {% if job_sub_agency is not empty %}
    <div class="usajobs-item-sub-agency">{{ job_sub_agency }}</div>
  {% endif %} #}

  {# <div class="usajobs-item-start-date">{{ job_start_date }}</div> #}
  {# <div class="usajobs-item-position-id">{{ job_position_id }}</div> #}
  {# <div class="usajobs-item-organization">{{ job_organization_name }}</div> #}
  {# <div class="usajobs-item-department-name">{{ job_department_name }}</div> #}
  {# <div class="usajobs-item-category-name">{{ job_category_name }}</div> #}
  {# <div class="usajobs-item-category-code">{{ job_category_code }}</div> #}
  {# <div class="usajobs-item-grade">{{ job_grade }}</div> #}
  {# <div class="usajobs-item-major-duties">{{ job_major_duties }}</div> #}
  {# <div class="usajobs-item-summary">{{ job_summary }}</div> #}
  {# <div class="usajobs-item-low-grade">{{ job_low_grade }}</div> #}
  {# <div class="usajobs-item-high-grade">{{ job_high_grade }}</div> #}

  {# <div class="usajobs-item-telework-eligible">
    {% if job_telework_eligible %}
      <span class="usajobs-item-telework-label">Telework Eligible</span>
    {% else %}
      <span class="usajobs-item-telework-label">Not Telework Eligible</span>
    {% endif %}
  </div> #}

  {# <div class="usajobs-item-remote-indicator">
    {% if job_remote_indicator %}
      <span class="usajobs-item-remote-label">Remote</span>
    {% else %}
      <span class="usajobs-item-remote-label">Not Remote</span>
    {% endif %}
  </div> #}

</div>
